$font-family-sans: "Plus Jakarta Sans", sans-serif !default;
$font-family-mono: "Source Code Pro", monospace !default;

$font-size-xs: 0.65rem !default;
$font-size-sm: 0.75rem !default;
$font-size-md: 0.85rem !default;
$font-size-lg: 1rem !default;

$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$line-height-base: 1.5 !default;
