@use "sass:math";
@use "../settings" as *;
@use "../tools" as *;

@layer layout {
  $grid-columns: 12;

  .cl-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--cl-gutter-y) * -1);
    margin-right: calc(var(--cl-gutter-x) / -2);
    margin-left: calc(var(--cl-gutter-x) / -2);
  }

  .cl-row > * {
    margin-top: var(--cl-gutter-y);
    padding-right: calc(var(--cl-gutter-x) / 2);
    padding-left: calc(var(--cl-gutter-x) / 2);
  }

  .cl-row-fluid {
    width: 100%;
  }

  .cl-col-fluid {
    width: 100%;
  }

  @each $breakpoint, $min in $breakpoints {
    $infix: breakpoint-infix($breakpoint);

    @include media-breakpoint-up($breakpoint) {
      .cl-col#{$infix} {
        flex: 1 0 0%;
      }

      .cl-col#{$infix}-auto {
        flex: 0 0 auto;
        width: auto;
      }

      @for $i from 1 through $grid-columns {
        .cl-col#{$infix}-#{$i} {
          flex: 0 0 auto;
          width: math.percentage(math.div($i, $grid-columns));
        }
      }
    }
  }
}
