@use "sass:math";
@use "../settings" as *;
@use "../tools" as *;

$grid-columns: 12;

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--clarus-gutter-y) * -1);
  margin-right: calc(var(--clarus-gutter-x) / -2);
  margin-left: calc(var(--clarus-gutter-x) / -2);
}

.row > * {
  margin-top: var(--clarus-gutter-y);
  padding-right: calc(var(--clarus-gutter-x) / 2);
  padding-left: calc(var(--clarus-gutter-x) / 2);
}

.row-fluid {
  width: 100%;
}

.col-fluid {
  width: 100%;
}

@each $breakpoint, $min in $breakpoints {
  $infix: breakpoint-infix($breakpoint);

  @include media-breakpoint-up($breakpoint) {
    .col#{$infix} {
      flex: 1 0 0%;
    }

    .col#{$infix}-auto {
      flex: 0 0 auto;
      width: auto;
    }

    @for $i from 1 through $grid-columns {
      .col#{$infix}-#{$i} {
        flex: 0 0 auto;
        width: math.percentage(math.div($i, $grid-columns));
      }
    }
  }
}
