@use "../settings" as *;

.tooltip {
  position: absolute;
  z-index: 1080;
  display: none;
  max-width: 220px;
}

.tooltip.show {
  display: block;
}

.tooltip-inner {
  padding: 6px 10px;
  border-radius: var(--clarus-radius-sm);
  color: var(--clarus-tooltip-text);
  background-color: var(--clarus-tooltip-bg);
  font-size: $font-size-xs;
  text-align: center;
}

.tooltip-arrow {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--clarus-tooltip-bg);
  transform: rotate(45deg);
}

.tooltip[data-placement="top"] .tooltip-arrow {
  bottom: -4px;
  left: 50%;
  margin-left: -4px;
}

.tooltip[data-placement="bottom"] .tooltip-arrow {
  top: -4px;
  left: 50%;
  margin-left: -4px;
}

.tooltip[data-placement="left"] .tooltip-arrow {
  top: 50%;
  right: -4px;
  margin-top: -4px;
}

.tooltip[data-placement="right"] .tooltip-arrow {
  top: 50%;
  left: -4px;
  margin-top: -4px;
}
