@use "settings" as *;
@use "tools" as *;

@each $breakpoint, $min in $breakpoints {
  $infix: breakpoint-infix($breakpoint);

  @include media-breakpoint-up($breakpoint) {
    .u-align-items#{$infix}-start {
      align-items: flex-start;
    }

    .u-align-items#{$infix}-center {
      align-items: center;
    }

    .u-align-items#{$infix}-end {
      align-items: flex-end;
    }

    .u-justify-content#{$infix}-start {
      justify-content: flex-start;
    }

    .u-justify-content#{$infix}-center {
      justify-content: center;
    }

    .u-justify-content#{$infix}-end {
      justify-content: flex-end;
    }

    .u-justify-content#{$infix}-around {
      justify-content: space-around;
    }

    .u-justify-content#{$infix}-between {
      justify-content: space-between;
    }

    .u-align-self#{$infix}-start {
      align-self: flex-start;
    }

    .u-align-self#{$infix}-center {
      align-self: center;
    }

    .u-align-self#{$infix}-end {
      align-self: flex-end;
    }
  }
}
