@layer utilities {
  @media print {
    .u-print-hide {
      display: none !important;
    }
  }

  @media not print {
    .u-print-only {
      display: none !important;
    }
  }

  @media print {
    .u-print-block {
      display: block !important;
    }

    .u-print-inline {
      display: inline !important;
    }

    .u-print-inline-block {
      display: inline-block !important;
    }
  }
}
