@use "settings" as *;
@use "tools" as *;

.u-text-start {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-end {
  text-align: right;
}

.u-text-lowercase {
  text-transform: lowercase;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-text-capitalize {
  text-transform: capitalize;
}

.u-text-truncate {
  @include truncate;
}

.u-fw-regular {
  font-weight: $font-weight-regular;
}

.u-fw-medium {
  font-weight: $font-weight-medium;
}

.u-fs-xs {
  font-size: $font-size-xs;
}

.u-fs-sm {
  font-size: $font-size-sm;
}

.u-fs-md {
  font-size: $font-size-md;
}

.u-fs-lg {
  font-size: $font-size-lg;
}

.u-font-sans {
  font-family: var(--cl-font-sans);
}

.u-font-mono {
  font-family: var(--cl-font-mono);
}
